<div class="box-data">
  <div class="data-header">
    <h2 class="info">بازیافتی ها</h2>

    <div>
      <button class="site-btn warning" (click)="showFilterItems()">فیلتر</button>
    </div>
  </div>

  <div class="data-filter" [class.d-block]="showFilter">
    <div class="row">
      <div class="col-xs-12 col-sm-8 mb-2">
        <div class="input">
          <input type="text" placeholder="دنبال چی میگردی..." [(ngModel)]="categories.search"
                 (keyup.enter)="updateCategories()">
          <button type="button" (click)="updateCategories()"><i class="far fa-search"></i></button>
        </div>
      </div>
      <div class="select-box col-xs-12 col-sm-4">
        <select set [(ngModel)]="categories.orderBy" (change)="updateCategories()">
          <option value="CreateDate">تاریخ ثبت</option>
          <option value="UpdateDate">آخرین ویرایش</option>
        </select>
      </div>
    </div>
  </div>

  <div class="d-block">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">عنوان</th>
        <th scope="col">آخرین بروز رسانی</th>
        <th scope="col">دستورات</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of categories.items; let i = index">
        <th scope="row">{{ i + 1}}</th>
        <td>{{item.categoryTitle}}</td>
        <td>{{item.lastUpdateDate}}</td>
        <td>
          <button class="site-btn success" [id]="'return-category-' + item.categoryId"
                  (click)="returnCategory(item.categoryId, item.categoryTitle)">
            <span>بازگشت</span>
          </button>
          <button class="site-btn danger" [id]="'delete-category-' + item.categoryId"
                  (click)="deleteCategory(item.categoryId, item.categoryTitle)">
            <span>حذف</span>
          </button>
          <button class="site-btn info" [id]="'btn-recycle-category-detail-'+item.categoryId"
                  (click)="ShowFullCategoryDetail(item.categoryId)">
            <span>جزئیات</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="categories.items.length == 0" class="alert alert-warning">
      دسته بندی ای برای نمایش یافت نشد.
    </div>
  </div>

  <ul class="pagination-custom">
    <li [ngClass]="{'disabled': categories.activePage == 1}" (click)="updateCategories(categories.activePage - 1)">
      <i class="far fa-angle-right"></i>
    </li>


    <li [ngClass]="{'active': page == categories.activePage}" *ngFor="let page of pages"
        (click)="updateCategories(page)">
      {{page}}
    </li>

    <li [ngClass]="{'disabled': categories.activePage >= categories.endPage}"
        (click)="updateCategories(categories.activePage + 1)">
      <i class="far fa-angle-left"></i>
    </li>

  </ul>

  <div *ngIf="loader" class="preloader"></div>
</div>



