<div class="modal-header-custom">
  <h2 class="header-title">ویرایش مشخصات</h2>
  <span class="close" (click)="closeModal()">&times;</span>
</div>

<form [formGroup]="editDashboardForm" (ngSubmit)="submitEditDashboardForm()">
  <div class="modal-body-custom">
    <p class="text-danger">
      {{ editDashboardErrorText }}
      {{ editDashboardFailedCounter <= 1 ? "" : "( " + editDashboardFailedCounter + " )" }}
    </p>
    <div class="row">


      <div class="col-sm-12 col-md-6">
        <div class="form-fill">
          <input type="text" formControlName="firstName"/>
          <label>نام</label>

          <span *ngIf="editDashboardForm.controls.firstName.touched">
          <p *ngIf="editDashboardForm.controls.firstName.errors?.required">
            لطفا نام را وارد کنید
          </p>
          <p *ngIf="editDashboardForm.controls.firstName.errors?.maxlength">
            نام وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
          </p>
        </span>
        </div>
      </div>


      <div class="col-sm-12 col-md-6">
        <div class="form-fill">
          <input type="text" formControlName="lastName"/>
          <label>نام خانوادگی</label>

          <span *ngIf="editDashboardForm.controls.lastName.touched">
          <p *ngIf="editDashboardForm.controls.lastName.errors?.required">
            لطفا نام خانوادگی را وارد کنید
          </p>
          <p *ngIf="editDashboardForm.controls.lastName.errors?.maxlength">
            نام خانوادگی وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
          </p>
        </span>
        </div>
      </div>


    </div>
  </div>

  <div class="modal-footer-custom">
    <div class="row">

      <div class="col-6">
        <button
          [disabled]="editDashboardForm.invalid"
          type="submit"
          class="{{ editDashboardSniper ? 'button-loading' : '' }}"
        >
          <span>ثبت</span>
        </button>
      </div>
      <div class="col-6">
        <button
          type="button"
          class="site-btn warning"
          (click)="closeModal()"
        >
          <span>خروج</span>
        </button>
      </div>
    </div>
  </div>


</form>


